<footer class="footer-distributed mt-5">
  <div class="footer-right">
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-github"></i></a>
  </div>

  <div class="footer-left">
    <p class="footer-links">
      <a class="link-1" routerLink="">Accueil</a>

      <a routerLink="descriptionProgrammes">Description des programmes</a>

      <a routerLink="inscriptionParent">Inscription des parents</a>

      <a routerLink="contact">Contact</a>
    </p>

    <p>Camp de jour des nerds &copy; 2021</p>
  </div>
</footer>
