<div id="user" class="card mb-4">
  <div class="card-header">
    <div class="row mb-2 mt-2">
      <div class="col-6">
        <h2 class="mb-0">getNom, getPrenom</h2>
      </div>
      <div class="col-6 d-flex align-items-end justify-content-end">
        <button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#modifierProfil">
          <i class="fas fa-pen"></i>
          Modifier le profil
        </button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col">
        <img src="../../assets/img/profil.png" height="160rem" alt="" />
      </div>
      <div class="col">
        <h6 class="mb-0 card-title">Nom</h6>
        <p class="card-text">getNom</p>
        <h6 class="mb-0 card-title">Prenom</h6>
        <p class="card-text">getPrenom</p>
        <h6 class="mb-0 card-title">Courriel</h6>
        <p class="card-text">getCourriel</p>
      </div>
      <div class="col">
        <h6 class="mb-0 card-title">Adresse</h6>
        <address class="card-text">getAdresse</address>
        <h6 class="mb-0 card-title">Date De Naissance</h6>
        <p class="card-text">getDateNaissance</p>
      </div>
    </div>
  </div>
</div>





<div id="children" class="card mb-4">
  <div class="card-header">
    <div class="row mb-2 mt-2">
      <div class="col-6">
        <h2 class="mb-0">
          Enfants à charge
        </h2>
      </div>
      <div class="col-6 d-flex align-items-end justify-content-end">
        <button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#ajouterEnfant">
          <i class="fas fa-plus"></i>
          Ajouter un enfant
        </button>
      </div>
    </div>
  </div>
  <div class="card-body">


      <div class="card mb-4">
        <div class="card-header">
          <div class="row mb-2 mt-2">
            <div class="col-6">
              <h2 class="mb-0">getNom, getPrenom</h2>
            </div>
            <div class="col-6 d-flex align-items-end justify-content-end">
              <button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#modifierEnfant">
                <i class="fas fa-pen"></i>
                Modifier getPrenom
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <img src="../../assets/img/profil.png" height="160rem" alt="" />
            </div>
            <div class="col">
              <h6 class="mb-0 card-title">Nom</h6>
              <p class="card-text">getNom</p>
              <h6 class="mb-0 card-title">Prenom</h6>
              <p class="card-text">getPrenom</p>
              <h6 class="mb-0 card-title">Notes</h6>
              <p class="card-text">getNote</p>
            </div>
            <div class="col">
              <h6 class="mb-0 card-title">Adresse</h6>
              <address class="card-text">getAdresse</address>
              <h6 class="mb-0 card-title">Date De Naissance</h6>
              <p class="card-text">getAdresse</p>
            </div>
          </div>
        </div>
      </div>

  </div>
</div>
